.servicesWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title{
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 15px;
    text-align: left;
}

.arrow{
    font-size: 1.3em;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: left;
}

.info{
    color: #FFFFFF;
    text-align: left;
}