.contentWrapper{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 80px !important;
    height: 600px;
    box-sizing: border-box;
}

.textWrapper{
    display: flex;
    flex-direction: column;
}

.textWrapper p {
    word-break: break-word;
}


@media screen and (max-width: 1035px){
    .contentWrapper{
        width: 100%;

    }
}