.inputWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.emailInput{
    background-color: rgba(255, 255, 255, 0);
    border: solid 2px #FFFFFF;
    height: 45px;
    width: 45%;
    color: #FFFFFF;
    word-spacing: 1px;
    padding-left: 20px;
    outline: none;
    font-size: 12px;
}

.emailInput::placeholder{
    color: #FFFFFF;
}

.submitBtn{
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    width: 15%;
    border: 2px solid #FFFFFF;
    outline: none;
    font-weight: 600;
    height: 51px;
    margin-left: 3px;
    cursor: pointer;
}

