.twitWrapper{
    display: flex;
    justify-content: center;
}

.twit{
    color: #FFFFFF;
    text-align: center;
    width: 80%;
}

.twit a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}