.memberWrapper{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.memberHeader{
    display: flex;
    justify-content: flex-end;
}

.memberTitle{
    text-align: right;
}

.memberTitle h2{
    font-size: 14px;
}

.photo{
    width: 90px;
    border-radius: 50%;
    margin-left: 10px;
}

.about{
    text-align: right;
    font-size: 13px;
    word-spacing: 1px;
    line-height: 25px;
    margin-top: 30px;
    width: 80%;
}

@media screen and (max-width: 1035px){
    .memberWrapper{
        align-items: center;
    }
    .memberHeader{
        flex-direction: column-reverse;
        align-items: center;
    }

    .memberTitle{
        text-align: center;
    }

    .about{
        text-align: center;
    }

    .photo{
        margin-top: 20px;
        width: 50%;
    }
}